<div class="page-title">
    <h4>Authors:</h4>
    <button 
        class="waves-effect waves-light btn grey darken-1"
        routerLink="/authors/new"
    >
        Add author
    </button>
</div>

<div 
    class="row"
    *ngIf="authors$ | async as authors; else loader"
>    
    <div class="col s12">
        <div class="collection" *ngIf="authors.length !== 0; else empty">
            <table>
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>FirstName</th>
                        <th>SecondName</th>
                        <th>BirthDate</th>
                        <th>Controllers</th>
                    </tr>
                </thead>    
                <tbody>
                    <tr *ngFor="let author of authors">
                        <td>{{author.email}}</td>
                        <td>{{author.firstName}}</td>
                        <td>{{author.secondName}}</td>
                        <td>{{author.birthDate | date: 'dd.MM.yyyy'}}</td>
                        <td>
                            <a [routerLink]="['/authors', author._id]">
                                <i class="material-icons">build</i>
                            </a>
                            <!-- <a [routerLink]="['/authors', author._id]">
                                <i class="material-icons">delete</i>
                            </a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #empty>
            <div class="center"><p>Nothing to show.</p></div>
        </ng-template>
    </div>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>


